Repository projectcalico/calico: changes, and which Semaphore blocks are due for each by the changed paths.
All: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

API:
  prologue:
    commands:
    - cd api
  jobs:
  - name: make build
    commands:
    - make build
  - name: make ci
    commands:
    - make ci
  - name: make static-checks
    commands:
    - make static-checks

apiserver:
  prologue:
    commands:
    - cd apiserver
  jobs:
  - name: make ci
    commands:
    - make ci

libcalico-go:
  jobs:
  - name: 'libcalico-go: tests'
    commands:
    - cd libcalico-go
    - make ci

Typha:
  agent:
    machine:
      type: e1-standard-4
      os_image: ubuntu1804
  jobs:
  - name: 'Typha: UT and FV tests'
    commands:
    - cd typha
    - make ci EXCEPT=k8sfv-test
  - name: 'Typha: felix k8s-st tests'
    commands:
    - cd felix
    - JUST_A_MINUTE=true USE_TYPHA=true make k8sfv-test
  epilogue:
    always:
  ...

Felix: Build:
  agent:
    machine:
      type: e1-standard-4
      os_image: ubuntu1804
  jobs:
  - name: Build and run UT, k8sfv
    execution_time_limit:
      minutes: 60
    commands:
    - cd felix
    - cache restore go-pkg-cache
    - cache restore go-mod-cache
  ...

Felix: Build Windows binaries:
  jobs:
  - name: build Windows binaries
    commands:
    - cd felix
    - make bin/calico-felix.exe fv/win-fv.exe

Felix: Windows FV:
  secrets:
  - name: banzai-secrets
  - name: private-repo
  prologue:
    commands:
    - chmod 0600 ~/.keys/*
    - ssh-add ~/.keys/*
    - pip install --upgrade --user awscli
    - export REPORT_DIR=~/report
    - export LOGS_DIR=~/fv.log
  ...

Felix: FV Tests:
  prologue:
    commands:
    - cd felix
    - cache restore go-pkg-cache
    - cache restore go-mod-cache
    - cache restore bin-${SEMAPHORE_GIT_SHA}
    - cache restore felix-image-${SEMAPHORE_GIT_SHA}
    - docker load -i /tmp/calico-felix.tar
    - rm /tmp/calico-felix.tar
    - touch bin/*
    - sudo modprobe ipip
  ...

Felix: BPF UT/FV tests on new kernel:
  prologue:
    commands:
    - cd felix
    - export GOOGLE_APPLICATION_CREDENTIALS=$HOME/secrets/secret.google-service-account-key.json
    - export SHORT_WORKFLOW_ID=$(echo ${SEMAPHORE_WORKFLOW_ID} | sha256sum | cut -c -8)
    - export ZONE=europe-west3-c
  ...

Felix: Static checks on e1-standard-8:
  agent:
    machine:
      type: e1-standard-8
      os_image: ubuntu1804
  prologue:
    commands:
    - cd felix
    - cache restore go-pkg-cache
    - cache restore go-mod-cache
  jobs:
  - name: Static checks
    execution_time_limit:
      minutes: 15
    commands:
    - make static-checks

confd: tests:
  prologue:
    commands:
    - cd confd
  jobs:
  - name: 'confd: CI'
    execution_time_limit:
      minutes: 60
    commands:
    - make ci

Node: Tests:
  agent:
    machine:
      type: e1-standard-8
      os_image: ubuntu1804
  prologue:
    commands:
    - cd node
  jobs:
  - name: 'Node: CI'
    commands:
    - make ci
  - name: 'Node: k8s-test'
    commands:
    - make k8s-test
  epilogue:
    always:
      commands:
  ...

calicoctl:
  prologue:
    commands:
    - cd calicoctl
  jobs:
  - name: calicoctl tests
    commands:
    - make ci

felix/bpf: return most raw rules to IPv6 as well
  felix/dataplane/linux/int_dataplane.go
  felix/rules/static.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

felix/bpf: include RPF and wg chains again.
  felix/dataplane/linux/int_dataplane.go
  felix/fv/pktgen/pktgen.go
  felix/fv/rpf_test.go
  felix/rules/rule_defs.go
  felix/rules/static.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

felix/fv: make it easier to tell which tcpdump failed
  felix/fv/rpf_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

felix/fv: disable RPF tests for non-bpf
  felix/fv/rpf_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

felix/fv: RPF test improvements and clarifications
  felix/fv/rpf_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Capture build logs to file and upload as artifacts.
  .gitignore
  .semaphore/publish-artifacts
  .semaphore/run-and-monitor
  .semaphore/semaphore.yml
  api/Makefile
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Updates to operations content for operator installs
  calico/maintenance/clis/calicoctl/configure/etcd.md
  calico/maintenance/clis/calicoctl/configure/kdd.md
  calico/maintenance/clis/calicoctl/configure/overview.md
  calico/maintenance/datastore-migration.md
  calico/maintenance/troubleshoot/commands.md
  calico/maintenance/troubleshoot/component-logs.md
  calico/maintenance/troubleshoot/troubleshooting.md
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

WinFV: Log when kubectlExec succeeds, as well as when it fails
  felix/fv/winfv/policy_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

felix/bpf: BPFEnforceStrictRPF config option
  api/pkg/apis/projectcalico/v3/felixconfig.go
  api/pkg/apis/projectcalico/v3/zz_generated.deepcopy.go
  api/pkg/openapi/openapi_generated.go
  felix/config/config_params.go
  felix/dataplane/driver.go
  felix/dataplane/linux/int_dataplane.go
  felix/fv/bpf_test.go
  felix/rules/rule_defs.go
  felix/rules/static.go
  libcalico-go/config/crd/crd.projectcalico.org_felixconfigurations.yaml
  libcalico-go/lib/backend/syncersv1/updateprocessors/configurationprocessor_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

comments by shaun addressed
  calico/reference/felix/configuration.md
  calico/reference/resources/felixconfig.md
  felix/config/param_types.go
  libcalico-go/lib/backend/syncersv1/updateprocessors/configurationprocessor_test.go
  libcalico-go/lib/validator/v3/validator.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

WinFV: treat "timed out" in stderr as an error
  felix/fv/winfv/policy_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Add --ginkgo.v when running Windows FV
  .semaphore/semaphore.yml
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Added build steps for darwin-arm64
  calicoctl/Makefile
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Updated documentation
  calicoctl/README.md
Due: none

WinFV: treat non-empty stderr as an error
  felix/fv/winfv/policy_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Revert "Add --ginkgo.v when running Windows FV"
  .semaphore/semaphore.yml
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Pool-based IPAM Metrics (#5706)
  calico/_includes/charts/calico/templates/calico-kube-controllers-rbac.yaml
  calico/maintenance/monitor/monitor-component-metrics.md
  calico/reference/kube-controllers/prometheus.md
  kube-controllers/pkg/controllers/node/controller.go
  kube-controllers/pkg/controllers/node/ipam.go
  kube-controllers/pkg/controllers/node/ipam_allocation.go
  kube-controllers/pkg/controllers/node/ipam_test.go
  kube-controllers/pkg/controllers/node/pool_manager.go
  kube-controllers/pkg/controllers/node/syncer.go
  kube-controllers/tests/fv/metrics_test.go
  node/tests/k8st/infra/calico-kdd.yaml
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

test adding rule to prerouting chain
  felix/bpf/tc/defs/defs.go
  felix/rules/static.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Move install-calico-windows.ps1 back to liquid template
  calico/Makefile
  calico/hack/gen-install-calico-windows-script/install-calico-windows.ps1.tpl
  calico/hack/gen-install-calico-windows-script/main.go
  calico/scripts/install-calico-windows.ps1
  node/Makefile
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Fix install script template template
  calico/scripts/install-calico-windows.ps1
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Update release build and doc for install script changes
  hack/release/RELEASING.md
  hack/release/pkg/builder/builder.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Remove unneeded clean target
  calico/Makefile
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Update install script and remove variant specific logic
  calico/scripts/install-calico-windows.ps1
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

windows: move install script tool to calico directory and add install script to release artifacts (#5788)
  calico/scripts/install-calico-windows.ps1
  hack/release/pkg/builder/builder.go
  node/Makefile
  node/hack/gen-install-calico-windows-script/main.go
  node/windows-packaging/install-calico-windows.ps1.tpl
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Use COPY for local license in Dockerfile.s390x
  cni-plugin/Dockerfile.s390x
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

debug cloudformation infra
  felix/.semaphore/run-win-fv
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Remove unneccessary checkout from tox job.
  .semaphore/semaphore.yml
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

api: update generated files
  api/pkg/openapi/openapi_generated.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

simplify code branch in confd (#5795)
  confd/pkg/resource/template/util.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

felix/bpf: make drop program report DENY for easier grep
  felix/bpf-gpl/tc.c
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Path conditions:
  API: any of: *, api/, but not: **/.gitignore, **/README.md, **/LICENSE
  apiserver: any of: *, api/, apiserver/, but not: **/.gitignore, **/README.md, **/LICENSE
  libcalico-go: any of: *, api/, libcalico-go/, but not: **/.gitignore, **/README.md, **/LICENSE
  Typha: any of: *, api/, libcalico-go/, typha/, but not: **/.gitignore, **/README.md, **/LICENSE
  Felix: Build: any of: *, api/, libcalico-go/, typha/, felix/, but not: **/.gitignore, **/README.md, **/LICENSE
  Felix: Build Windows binaries: any of: *, api/, libcalico-go/, typha/, felix/, but not: **/.gitignore, **/README.md, **/LICENSE
  Felix: Windows FV: any of: *, api/, libcalico-go/, typha/, felix/, but not: **/.gitignore, **/README.md, **/LICENSE
  Felix: FV Tests: any of: *, api/, libcalico-go/, typha/, felix/, but not: **/.gitignore, **/README.md, **/LICENSE
  Felix: BPF UT/FV tests on new kernel: any of: *, api/, libcalico-go/, typha/, felix/, but not: **/.gitignore, **/README.md, **/LICENSE
  Felix: Static checks on e1-standard-8: any of: *, api/, libcalico-go/, typha/, felix/, but not: **/.gitignore, **/README.md, **/LICENSE
  confd: tests: any of: *, api/, libcalico-go/, confd/, but not: **/.gitignore, **/README.md, **/LICENSE
  Node: Tests: any of: *, api/, libcalico-go/, typha/, felix/, confd/, bird/, pod2daemon/, node/, but not: **/.gitignore, **/README.md, **/LICENSE
  Node: build all architectures: any of: felix/, confd/, node/
  e2e tests: any of: *, api/, libcalico-go/, typha/, felix/, confd/, bird/, pod2daemon/, node/, but not: **/.gitignore, **/README.md, **/LICENSE
  kube-controllers: Tests: any of: *, api/, libcalico-go/, kube-controllers/, but not: **/.gitignore, **/README.md, **/LICENSE
  pod2daemon: any of: *, pod2daemon/, but not: **/.gitignore, **/README.md, **/LICENSE
  app-policy: any of: *, app-policy/, felix/, but not: **/.gitignore, **/README.md, **/LICENSE
  calicoctl: any of: *, calicoctl/, libcalico-go/, api/, but not: **/.gitignore, **/README.md, **/LICENSE
  cni-plugin: any of: *, cni-plugin/, libcalico-go/, but not: **/.gitignore, **/README.md, **/LICENSE
  Documentation: any of: *, calico/, but not: **/.gitignore, **/README.md, **/LICENSE
