Repository projectcalico/calico: changes, and which Semaphore blocks are due for each by the changed paths.
All: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

API:
  prologue:
    commands:
    - cd api
  jobs:
  - name: make build
    commands:
    - make build
  - name: make ci
    commands:
    - make ci
  - name: make static-checks
    commands:
    - make static-checks

apiserver:
  prologue:
    commands:
    - cd apiserver
  jobs:
  - name: make ci
    commands:
    - make ci

libcalico-go:
  jobs:
  - name: 'libcalico-go: tests'
    commands:
    - cd libcalico-go
    - make ci

Typha:
  agent:
    machine:
      type: e1-standard-4
      os_image: ubuntu1804
  jobs:
  - name: 'Typha: UT and FV tests'
    commands:
    - cd typha
    - make ci EXCEPT=k8sfv-test
  - name: 'Typha: felix k8s-st tests'
    commands:
    - cd felix
    - JUST_A_MINUTE=true USE_TYPHA=true make k8sfv-test
  epilogue:
    always:
  ...

Felix: Build:
  agent:
    machine:
      type: e1-standard-4
      os_image: ubuntu1804
  jobs:
  - name: Build and run UT, k8sfv
    execution_time_limit:
      minutes: 60
    commands:
    - cd felix
    - cache restore go-pkg-cache
    - cache restore go-mod-cache
  ...

Felix: Build Windows binaries:
  jobs:
  - name: build Windows binaries
    commands:
    - cd felix
    - make bin/calico-felix.exe fv/win-fv.exe

Felix: Windows FV:
  secrets:
  - name: banzai-secrets
  - name: private-repo
  prologue:
    commands:
    - chmod 0600 ~/.keys/*
    - ssh-add ~/.keys/*
    - pip install --upgrade --user awscli
    - export REPORT_DIR=~/report
    - export LOGS_DIR=~/fv.log
  ...

Felix: FV Tests:
  prologue:
    commands:
    - cd felix
    - cache restore go-pkg-cache
    - cache restore go-mod-cache
    - cache restore bin-${SEMAPHORE_GIT_SHA}
    - cache restore felix-image-${SEMAPHORE_GIT_SHA}
    - docker load -i /tmp/calico-felix.tar
    - rm /tmp/calico-felix.tar
    - touch bin/*
    - sudo modprobe ipip
  ...

Felix: BPF UT/FV tests on new kernel:
  prologue:
    commands:
    - cd felix
    - export GOOGLE_APPLICATION_CREDENTIALS=$HOME/secrets/secret.google-service-account-key.json
    - export SHORT_WORKFLOW_ID=$(echo ${SEMAPHORE_WORKFLOW_ID} | sha256sum | cut -c -8)
    - export ZONE=europe-west3-c
  ...

Felix: Static checks on e1-standard-8:
  agent:
    machine:
      type: e1-standard-8
      os_image: ubuntu1804
  prologue:
    commands:
    - cd felix
    - cache restore go-pkg-cache
    - cache restore go-mod-cache
  jobs:
  - name: Static checks
    execution_time_limit:
      minutes: 15
    commands:
    - make static-checks

confd: tests:
  prologue:
    commands:
    - cd confd
  jobs:
  - name: 'confd: CI'
    execution_time_limit:
      minutes: 60
    commands:
    - make ci

Node: Tests:
  agent:
    machine:
      type: e1-standard-8
      os_image: ubuntu1804
  prologue:
    commands:
    - cd node
  jobs:
  - name: 'Node: CI'
    commands:
    - make ci
  - name: 'Node: k8s-test'
    commands:
    - make k8s-test
  epilogue:
    always:
      commands:
  ...

calicoctl:
  prologue:
    commands:
    - cd calicoctl
  jobs:
  - name: calicoctl tests
    commands:
    - make ci

Update node so that it only runs tests that changed in semaphore
  hack/test/spider/main.go
  node/Makefile
  node/run-uts.sh
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Try updating kube-controllers, split out some FVs
  kube-controllers/.gitignore
  kube-controllers/Makefile
  kube-controllers/pkg/config/config_fv_test.go
  kube-controllers/pkg/config/config_suite_test.go
  kube-controllers/pkg/controllers/node/ipam_fv_test.go
  kube-controllers/run-uts
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Remove unused type
  hack/test/spider/main.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Complete the breakdown of the kube-controllers/tests/fv directory
  kube-controllers/cmd/kube-controllers/fv_test.go
  kube-controllers/cmd/kube-controllers/kube_controllers_suite_test.go
  kube-controllers/pkg/controllers/namespace/namespace_controller_fv_test.go
  kube-controllers/pkg/controllers/namespace/namespace_suite_test.go
  kube-controllers/pkg/controllers/networkpolicy/policy_controller_fv_test.go
  kube-controllers/pkg/controllers/networkpolicy/policy_suite_test.go
  kube-controllers/pkg/controllers/node/ipam_fv_test.go
  kube-controllers/pkg/controllers/node/node_controller_fv_test.go
  kube-controllers/pkg/controllers/pod/pod_controller_fv_test.go
  kube-controllers/pkg/controllers/pod/pod_suite_test.go
  kube-controllers/pkg/controllers/serviceaccount/serviceaaccount_controller_fv_test.go
  kube-controllers/pkg/controllers/serviceaccount/serviceaccount_suite_test.go
  kube-controllers/tests/fv/fv_resiliency_test.go
  kube-controllers/tests/fv/fv_test.go
  kube-controllers/tests/fv/node_label_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

move flannel migration fv tests
  kube-controllers/pkg/controllers/flannelmigration/config_test.go
  kube-controllers/pkg/controllers/flannelmigration/flannel_migration_fv_test.go
  kube-controllers/pkg/controllers/flannelmigration/flannelmigration_suite_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Move more node FV tests into kubecontrollers node package
  kube-controllers/Makefile
  kube-controllers/pkg/controllers/node/auto_hep_fv_test.go
  kube-controllers/pkg/controllers/node/etcd_ipam_gc_fv_test.go
  kube-controllers/pkg/controllers/node/kdd_ipam_gc_fv_test.go
  kube-controllers/pkg/controllers/node/metrics_fv_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Remove unused private.key test file
  kube-controllers/Makefile
  kube-controllers/tests/fv/private.key
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Align node / kube-controllers implementations a bit more
  kube-controllers/run-uts
  node/Makefile
  node/run-uts
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Fix some naming
  kube-controllers/cmd/kube-controllers/kube_controllers_suite_test.go
  kube-controllers/pkg/controllers/namespace/namespace_suite_test.go
  kube-controllers/pkg/controllers/networkpolicy/policy_suite_test.go
  kube-controllers/pkg/controllers/node/node_suite_test.go
  kube-controllers/pkg/controllers/pod/pod_suite_test.go
  kube-controllers/pkg/controllers/serviceaccount/serviceaccount_suite_test.go
  kube-controllers/pkg/converter/converter_suite_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Handle packages that are deleted
  hack/test/spider/main.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Remove unused makefile
  hack/test/spider/Makefile
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Run make fix
  kube-controllers/pkg/config/config_suite_test.go
  kube-controllers/pkg/controllers/flannelmigration/flannelmigration_suite_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Handle go.mod changes
  hack/test/spider/main.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Run spider within a container
  kube-controllers/Makefile
  node/Makefile
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

remove some test duplication
  kube-controllers/pkg/controllers/flannelmigration/flannel_migration_fv_test.go
  kube-controllers/pkg/controllers/pod/pod_controller_fv_test.go
  kube-controllers/run-uts
  node/run-uts
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Fix static checks
  kube-controllers/pkg/controllers/namespace/namespace_controller_fv_test.go
  kube-controllers/pkg/controllers/serviceaccount/serviceaccount_controller_fv_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Fix typo
  kube-controllers/Makefile
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Recursively check impacted packages
  hack/test/spider/main.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Fix type in file names
  kube-controllers/pkg/controllers/serviceaccount/serviceaccount_controller.go
  kube-controllers/pkg/controllers/serviceaccount/serviceaccount_controller_fv_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Include modified package as well as deps
  hack/test/spider/main.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Look at test files as well
  hack/test/spider/main.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Code review comments
  hack/test/spider/main.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

felix/bpf: UT tests check marks on kernels 5.9+
  felix/bpf-gpl/tc.c
  felix/bpf/ut/benchmarks_test.go
  felix/bpf/ut/bpf_prog_test.go
  felix/bpf/ut/failsafes_test.go
  felix/bpf/ut/icmp_port_unreachable_test.go
  felix/bpf/ut/icmp_related_test.go
  felix/bpf/ut/icmp_test.go
  felix/bpf/ut/icmp_ttl_exceeded_test.go
  felix/bpf/ut/ip_options_test.go
  felix/bpf/ut/ipv6_test.go
  felix/bpf/ut/malformed_packets_test.go
  felix/bpf/ut/nat_test.go
  felix/bpf/ut/spoof_test.go
  felix/bpf/ut/tcp_test.go
  felix/bpf/ut/to_host_allowed_test.go
  felix/bpf/ut/whitelist_test.go
  felix/environment/feature_detect.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Run spider tool only on PRs
  hack/test/spider/main.go
  kube-controllers/Makefile
  node/Makefile
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Don't run tests twice
  kube-controllers/Makefile
  node/Makefile
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

use an new binary for mounting root ns
  node/pkg/nodeinit/calico-init_linux.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

felix/bpf: do nt set BYPASS for decaped packets
  felix/bpf-gpl/fib.h
  felix/bpf/ut/nat_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

felix/bpf: execute hep_rpf_check() only from HEP
  felix/bpf-gpl/tc.c
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Fix k8sfv lint issue
  felix/k8sfv/pod.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Use a seperate Go binary to change ns and mount root ns
  node/Dockerfile.amd64
  node/Dockerfile.arm64
  node/Makefile
  node/clean-up-filesystem.sh
  node/pkg/nodeinit/calico-init_linux.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

cleanup arm64 docker file
  node/Dockerfile.arm64
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Fix logging after merge
  felix/dataplane/linux/vxlan_mgr.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Reduced amount of libraries included in several container images.
  cni-plugin/Dockerfile.amd64
  kube-controllers/Dockerfile.amd64
  typha/docker-image/Dockerfile.amd64
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Update platform detection for EC2 to use IMDSv2 (#6104)
  calico/scripts/install-calico-windows.ps1
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

bpf/ut: add comments
  felix/bpf/ut/bpf_prog_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Add badges and quick links to README
  README.md
Due: none

Path conditions:
  API: any of: *, api/, but not: **/.gitignore, **/README.md, **/LICENSE
  apiserver: any of: *, api/, apiserver/, but not: **/.gitignore, **/README.md, **/LICENSE
  libcalico-go: any of: *, api/, libcalico-go/, but not: **/.gitignore, **/README.md, **/LICENSE
  Typha: any of: *, api/, libcalico-go/, typha/, but not: **/.gitignore, **/README.md, **/LICENSE
  Felix: Build: any of: *, api/, libcalico-go/, typha/, felix/, but not: **/.gitignore, **/README.md, **/LICENSE
  Felix: Build Windows binaries: any of: *, api/, libcalico-go/, typha/, felix/, but not: **/.gitignore, **/README.md, **/LICENSE
  Felix: Windows FV: any of: *, api/, libcalico-go/, typha/, felix/, but not: **/.gitignore, **/README.md, **/LICENSE
  Felix: FV Tests: any of: *, api/, libcalico-go/, typha/, felix/, but not: **/.gitignore, **/README.md, **/LICENSE
  Felix: BPF UT/FV tests on new kernel: any of: *, api/, libcalico-go/, typha/, felix/, but not: **/.gitignore, **/README.md, **/LICENSE
  Felix: Static checks on e1-standard-8: any of: *, api/, libcalico-go/, typha/, felix/, but not: **/.gitignore, **/README.md, **/LICENSE
  confd: tests: any of: *, api/, libcalico-go/, confd/, but not: **/.gitignore, **/README.md, **/LICENSE
  Node: Tests: any of: *, api/, libcalico-go/, typha/, felix/, confd/, bird/, pod2daemon/, node/, but not: **/.gitignore, **/README.md, **/LICENSE
  Node: build all architectures: any of: felix/, confd/, node/
  e2e tests: any of: *, api/, libcalico-go/, typha/, felix/, confd/, bird/, pod2daemon/, node/, but not: **/.gitignore, **/README.md, **/LICENSE
  kube-controllers: Tests: any of: *, api/, libcalico-go/, kube-controllers/, but not: **/.gitignore, **/README.md, **/LICENSE
  pod2daemon: any of: *, pod2daemon/, but not: **/.gitignore, **/README.md, **/LICENSE
  app-policy: any of: *, app-policy/, felix/, but not: **/.gitignore, **/README.md, **/LICENSE
  calicoctl: any of: *, calicoctl/, libcalico-go/, api/, but not: **/.gitignore, **/README.md, **/LICENSE
  cni-plugin: any of: *, cni-plugin/, libcalico-go/, but not: **/.gitignore, **/README.md, **/LICENSE
  Documentation: any of: *, calico/, but not: **/.gitignore, **/README.md, **/LICENSE
