Repository projectcalico/calico: changes, and which Semaphore blocks are due for each by the changed paths.
All: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

API:
  prologue:
    commands:
    - cd api
  jobs:
  - name: make build
    commands:
    - make build
  - name: make ci
    commands:
    - make ci
  - name: make static-checks
    commands:
    - make static-checks

apiserver:
  prologue:
    commands:
    - cd apiserver
  jobs:
  - name: make ci
    commands:
    - make ci

libcalico-go:
  jobs:
  - name: 'libcalico-go: tests'
    commands:
    - cd libcalico-go
    - make ci

Typha:
  agent:
    machine:
      type: e1-standard-4
      os_image: ubuntu1804
  jobs:
  - name: 'Typha: UT and FV tests'
    commands:
    - cd typha
    - make ci EXCEPT=k8sfv-test
  - name: 'Typha: felix k8s-st tests'
    commands:
    - cd felix
    - JUST_A_MINUTE=true USE_TYPHA=true make k8sfv-test
  epilogue:
    always:
  ...

Felix: Build:
  agent:
    machine:
      type: e1-standard-4
      os_image: ubuntu1804
  jobs:
  - name: Build and run UT, k8sfv
    execution_time_limit:
      minutes: 60
    commands:
    - cd felix
    - cache restore go-pkg-cache
    - cache restore go-mod-cache
  ...

Felix: Build Windows binaries:
  jobs:
  - name: build Windows binaries
    commands:
    - cd felix
    - make bin/calico-felix.exe fv/win-fv.exe

Felix: Windows FV:
  secrets:
  - name: banzai-secrets
  - name: private-repo
  prologue:
    commands:
    - chmod 0600 ~/.keys/*
    - ssh-add ~/.keys/*
    - pip install --upgrade --user awscli
    - export REPORT_DIR=~/report
    - export LOGS_DIR=~/fv.log
  ...

Felix: FV Tests:
  prologue:
    commands:
    - cd felix
    - cache restore go-pkg-cache
    - cache restore go-mod-cache
    - cache restore bin-${SEMAPHORE_GIT_SHA}
    - cache restore felix-image-${SEMAPHORE_GIT_SHA}
    - docker load -i /tmp/calico-felix.tar
    - rm /tmp/calico-felix.tar
    - touch bin/*
    - sudo modprobe ipip
  ...

Felix: BPF UT/FV tests on new kernel:
  prologue:
    commands:
    - cd felix
    - export GOOGLE_APPLICATION_CREDENTIALS=$HOME/secrets/secret.google-service-account-key.json
    - export SHORT_WORKFLOW_ID=$(echo ${SEMAPHORE_WORKFLOW_ID} | sha256sum | cut -c -8)
    - export ZONE=europe-west3-c
  ...

Felix: Static checks on e1-standard-8:
  agent:
    machine:
      type: e1-standard-8
      os_image: ubuntu1804
  prologue:
    commands:
    - cd felix
    - cache restore go-pkg-cache
    - cache restore go-mod-cache
  jobs:
  - name: Static checks
    execution_time_limit:
      minutes: 15
    commands:
    - make static-checks

confd: tests:
  prologue:
    commands:
    - cd confd
  jobs:
  - name: 'confd: CI'
    execution_time_limit:
      minutes: 60
    commands:
    - make ci

Node: Tests:
  agent:
    machine:
      type: e1-standard-8
      os_image: ubuntu1804
  prologue:
    commands:
    - cd node
  jobs:
  - name: 'Node: CI'
    commands:
    - make ci
  - name: 'Node: k8s-test'
    commands:
    - make k8s-test
  epilogue:
    always:
      commands:
  ...

calicoctl:
  prologue:
    commands:
    - cd calicoctl
  jobs:
  - name: calicoctl tests
    commands:
    - make ci

Fix some improperly structured node FV tests
  node/Makefile
  node/cmd/calico/calico_suite_test.go
  node/pkg/lifecycle/startup/autodetection/ipv4/poolselector_test.go
  node/pkg/lifecycle/startup/startup_suite_test.go
  node/pkg/lifecycle/startup/startup_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Fix test name and kubectl location
  felix/wireguard/metrics_test.go
  node/tests/k8st/deploy_resources_on_kind_cluster.sh
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Update install-calico-windows.ps1.tpl
  node/windows-packaging/install-calico-windows.ps1.tpl
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

windows: fix invalid Invoke-CimMethod param
  calico/scripts/install-calico-windows.ps1
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

windows: fix EKS windsr platform support check
  calico/scripts/install-calico-windows.ps1
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Consolidate semaphore config
  .semaphore/semaphore.yml
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Standardize docker buildx commands for all images
  apiserver/Makefile
  app-policy/Makefile
  calicoctl/Makefile
  cni-plugin/Makefile
  felix/Makefile
  kube-controllers/Makefile
  lib.Makefile
  node/Makefile
  pod2daemon/Makefile
  typha/Makefile
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Skip additional .h file
  felix/bpf-gpl/Makefile
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Combine calico/felix and calico/felix-test (#5616)
  felix/Makefile
  felix/docker-image/Dockerfile.amd64
  felix/docker-image/Dockerfile.arm64
  felix/fv/Dockerfile.test.amd64
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Don't rebuild remote-deps when we don't need to
  .semaphore/semaphore.yml
  felix/.gitignore
  felix/Makefile
  node/.gitignore
  node/Makefile
  node/filesystem/etc/calico/confd/config/.gitkeep
  node/tests/k8st/deploy_resources_on_kind_cluster.sh
  node/tests/k8st/load_images_on_kind_cluster.sh
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Fix IP pool nat outgoing doc
  calico/reference/resources/ippool.md
  felix/Makefile
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Fix IP pool nat outgoing doc
  calico/reference/resources/ippool.md
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Fix felix release logic
  felix/Makefile
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Remove generated files form felix's list of files to clean.
  felix/Makefile
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

app-policy: Remove generated files from list of files to clean
  app-policy/Makefile
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

ignore another file
  hack/release/.gitignore
Due: none

Reinstate streaming of v1 ProfileLabels (alongside v3 Profile)
  libcalico-go/lib/backend/k8s/k8s_test.go
  libcalico-go/lib/backend/model/keys.go
  libcalico-go/lib/backend/model/keys_test.go
  libcalico-go/lib/backend/model/profile.go
  libcalico-go/lib/backend/syncersv1/felixsyncer/felixsyncer_e2e_test.go
  libcalico-go/lib/backend/syncersv1/updateprocessors/profileprocessor.go
  libcalico-go/lib/backend/syncersv1/updateprocessors/profileprocessor_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

remove TODO
  cni-plugin/internal/pkg/testutils/utils_linux.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

confd: remove unused k8s version
  confd/Makefile
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Update helm install doc
  calico/getting-started/kubernetes/helm.md
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

cni-plugin: dummy check for cni over v0.4.0, default behavior of add https://www.cni.dev/docs/spec-upgrades/#general-guidance-for-all-plugins-language-agnostic
  cni-plugin/pkg/plugin/plugin.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Update upgrade doc
  calico/maintenance/kubernetes-upgrade.md
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

proxy_delay setting failure should not be a critical error Signed-off-by: cyclinder <qifeng.guo@daocloud.io>
  cni-plugin/pkg/dataplane/linux/dataplane_linux.go
  felix/dataplane/linux/endpoint_mgr.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Revert "libcalico-go: modify network-policy"
  libcalico-go/lib/backend/k8s/k8s_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Revert "remove beta annotation"
  libcalico-go/lib/backend/k8s/k8s_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Prevent GC when calico datastore locked
  kube-controllers/pkg/controllers/node/ipam.go
  kube-controllers/pkg/controllers/node/syncer.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Introduce patchMode for pod annotations
  cni-plugin/pkg/k8s/k8s.go
  libcalico-go/lib/backend/k8s/resources/workloadendpoint.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Introducing bindMode in BGPConfiguration
  api/pkg/apis/projectcalico/v3/bgpconfig.go
  api/pkg/openapi/openapi_generated.go
  calico/reference/resources/bgpconfig.md
  confd/etc/calico/confd/templates/bird.cfg.template
  confd/etc/calico/confd/templates/bird6.cfg.template
  confd/pkg/backends/calico/client.go
  libcalico-go/config/crd/crd.projectcalico.org_bgpconfigurations.yaml
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Introduce patchMode for pod annotations
  cni-plugin/pkg/k8s/k8s.go
  libcalico-go/lib/backend/k8s/resources/workloadendpoint.go
  libcalico-go/lib/backend/k8s/resources/workloadendpoint_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Introduce patchMode for pod annotations
  cni-plugin/pkg/k8s/k8s.go
  libcalico-go/lib/backend/k8s/k8s_test.go
  libcalico-go/lib/backend/k8s/resources/workloadendpoint.go
  libcalico-go/lib/backend/k8s/resources/workloadendpoint_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Deduplicate run-etcd and stop-etcd targets
  apiserver/Makefile
  calicoctl/Makefile
  cni-plugin/Makefile
  confd/Makefile
  lib.Makefile
  libcalico-go/Makefile
  node/Makefile
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Commonize running of local k8s control plane components
  apiserver/Makefile
  calicoctl/Makefile
  cni-plugin/Makefile
  confd/Makefile
  lib.Makefile
  node/Makefile
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Commonize logic for creating a kind cluster
  .gitignore
  hack/test/kind/control-plane-only.yaml
  hack/test/kind/multinode-kind.yaml
  lib.Makefile
  libcalico-go/Makefile
  node/Makefile
  node/tests/k8st/infra/calico-kdd.yaml
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Follow-on work after commonizing test utils
  .gitignore
  Makefile
  apiserver/Makefile
  apiserver/test/integration/framework.go
  felix/wireguard/metrics_test.go
  hack/test/kind/kind-single.config
  hack/test/kind/kind.config
  lib.Makefile
  libcalico-go/Makefile
  libcalico-go/lib/backend/syncersv1/bgpsyncer/bgpsyncer_e2e_test.go
  libcalico-go/lib/backend/syncersv1/felixsyncer/felixsyncer_e2e_test.go
  node/Makefile
  node/cmd/calico/calico_suite_test.go
  node/pkg/lifecycle/startup/autodetection/ipv4/poolselector_test.go
  node/pkg/lifecycle/startup/startup_suite_test.go
  node/pkg/lifecycle/startup/startup_test.go
  node/tests/k8st/deploy_resources_on_kind_cluster.sh
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

change parser to be ip neutral
  felix/bpf-gpl/conntrack.h
  felix/bpf-gpl/fib.h
  felix/bpf-gpl/icmp.h
  felix/bpf-gpl/metadata.h
  felix/bpf-gpl/nat.h
  felix/bpf-gpl/parsing.h
  felix/bpf-gpl/skb.h
  felix/bpf-gpl/tc.c
  felix/bpf-gpl/ut/ip_dec_ttl.c
  felix/bpf/ut/bpf_prog_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Updates for v3.22.1
  calico/_data/versions.yml
  calico/_includes/release-notes/v3.22.1-release-notes.md
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Path conditions:
  API: any of: *, api/, but not: **/.gitignore, **/README.md, **/LICENSE
  apiserver: any of: *, api/, apiserver/, but not: **/.gitignore, **/README.md, **/LICENSE
  libcalico-go: any of: *, api/, libcalico-go/, but not: **/.gitignore, **/README.md, **/LICENSE
  Typha: any of: *, api/, libcalico-go/, typha/, but not: **/.gitignore, **/README.md, **/LICENSE
  Felix: Build: any of: *, api/, libcalico-go/, typha/, felix/, but not: **/.gitignore, **/README.md, **/LICENSE
  Felix: Build Windows binaries: any of: *, api/, libcalico-go/, typha/, felix/, but not: **/.gitignore, **/README.md, **/LICENSE
  Felix: Windows FV: any of: *, api/, libcalico-go/, typha/, felix/, but not: **/.gitignore, **/README.md, **/LICENSE
  Felix: FV Tests: any of: *, api/, libcalico-go/, typha/, felix/, but not: **/.gitignore, **/README.md, **/LICENSE
  Felix: BPF UT/FV tests on new kernel: any of: *, api/, libcalico-go/, typha/, felix/, but not: **/.gitignore, **/README.md, **/LICENSE
  Felix: Static checks on e1-standard-8: any of: *, api/, libcalico-go/, typha/, felix/, but not: **/.gitignore, **/README.md, **/LICENSE
  confd: tests: any of: *, api/, libcalico-go/, confd/, but not: **/.gitignore, **/README.md, **/LICENSE
  Node: Tests: any of: *, api/, libcalico-go/, typha/, felix/, confd/, bird/, pod2daemon/, node/, but not: **/.gitignore, **/README.md, **/LICENSE
  Node: build all architectures: any of: felix/, confd/, node/
  e2e tests: any of: *, api/, libcalico-go/, typha/, felix/, confd/, bird/, pod2daemon/, node/, but not: **/.gitignore, **/README.md, **/LICENSE
  kube-controllers: Tests: any of: *, api/, libcalico-go/, kube-controllers/, but not: **/.gitignore, **/README.md, **/LICENSE
  pod2daemon: any of: *, pod2daemon/, but not: **/.gitignore, **/README.md, **/LICENSE
  app-policy: any of: *, app-policy/, felix/, but not: **/.gitignore, **/README.md, **/LICENSE
  calicoctl: any of: *, calicoctl/, libcalico-go/, api/, but not: **/.gitignore, **/README.md, **/LICENSE
  cni-plugin: any of: *, cni-plugin/, libcalico-go/, but not: **/.gitignore, **/README.md, **/LICENSE
  Documentation: any of: *, calico/, but not: **/.gitignore, **/README.md, **/LICENSE
