Repository projectcalico/calico: changes, and which Semaphore blocks are due for each by the changed paths.
All: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

API:
  prologue:
    commands:
    - cd api
  jobs:
  - name: make build
    commands:
    - make build
  - name: make ci
    commands:
    - make ci
  - name: make static-checks
    commands:
    - make static-checks

apiserver:
  prologue:
    commands:
    - cd apiserver
  jobs:
  - name: make ci
    commands:
    - make ci

libcalico-go:
  jobs:
  - name: 'libcalico-go: tests'
    commands:
    - cd libcalico-go
    - make ci

Typha:
  agent:
    machine:
      type: e1-standard-4
      os_image: ubuntu1804
  jobs:
  - name: 'Typha: UT and FV tests'
    commands:
    - cd typha
    - make ci EXCEPT=k8sfv-test
  - name: 'Typha: felix k8s-st tests'
    commands:
    - cd felix
    - JUST_A_MINUTE=true USE_TYPHA=true make k8sfv-test
  epilogue:
    always:
  ...

Felix: Build:
  agent:
    machine:
      type: e1-standard-4
      os_image: ubuntu1804
  jobs:
  - name: Build and run UT, k8sfv
    execution_time_limit:
      minutes: 60
    commands:
    - cd felix
    - cache restore go-pkg-cache
    - cache restore go-mod-cache
  ...

Felix: Build Windows binaries:
  jobs:
  - name: build Windows binaries
    commands:
    - cd felix
    - make bin/calico-felix.exe fv/win-fv.exe

Felix: Windows FV:
  secrets:
  - name: banzai-secrets
  - name: private-repo
  prologue:
    commands:
    - chmod 0600 ~/.keys/*
    - ssh-add ~/.keys/*
    - pip install --upgrade --user awscli
    - export REPORT_DIR=~/report
    - export LOGS_DIR=~/fv.log
  ...

Felix: FV Tests:
  prologue:
    commands:
    - cd felix
    - cache restore go-pkg-cache
    - cache restore go-mod-cache
    - cache restore bin-${SEMAPHORE_GIT_SHA}
    - cache restore felix-image-${SEMAPHORE_GIT_SHA}
    - docker load -i /tmp/calico-felix.tar
    - rm /tmp/calico-felix.tar
    - touch bin/*
    - sudo modprobe ipip
  ...

Felix: BPF UT/FV tests on new kernel:
  prologue:
    commands:
    - cd felix
    - export GOOGLE_APPLICATION_CREDENTIALS=$HOME/secrets/secret.google-service-account-key.json
    - export SHORT_WORKFLOW_ID=$(echo ${SEMAPHORE_WORKFLOW_ID} | sha256sum | cut -c -8)
    - export ZONE=europe-west3-c
  ...

Felix: Static checks on e1-standard-8:
  agent:
    machine:
      type: e1-standard-8
      os_image: ubuntu1804
  prologue:
    commands:
    - cd felix
    - cache restore go-pkg-cache
    - cache restore go-mod-cache
  jobs:
  - name: Static checks
    execution_time_limit:
      minutes: 15
    commands:
    - make static-checks

confd: tests:
  prologue:
    commands:
    - cd confd
  jobs:
  - name: 'confd: CI'
    execution_time_limit:
      minutes: 60
    commands:
    - make ci

Node: Tests:
  agent:
    machine:
      type: e1-standard-8
      os_image: ubuntu1804
  prologue:
    commands:
    - cd node
  jobs:
  - name: 'Node: CI'
    commands:
    - make ci
  - name: 'Node: k8s-test'
    commands:
    - make k8s-test
  epilogue:
    always:
      commands:
  ...

calicoctl:
  prologue:
    commands:
    - cd calicoctl
  jobs:
  - name: calicoctl tests
    commands:
    - make ci

address Sridhar comments
  felix/bpf-gpl/bpf.h
  felix/bpf-gpl/connect_balancer.c
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

fix the panic of SetupRoutes in csi-plugin
  cni-plugin/pkg/dataplane/linux/dataplane_linux.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

fix libbpf_api.h
  felix/bpf/libbpf/libbpf_api.h
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Remove defaulting for FloatingIPs field - use code default instead
  api/pkg/apis/projectcalico/v3/felixconfig.go
  libcalico-go/config/crd/crd.projectcalico.org_felixconfigurations.yaml
  manifests/calico-bpf.yaml
  manifests/calico-policy-only.yaml
  manifests/calico-typha.yaml
  manifests/calico-vxlan.yaml
  manifests/calico.yaml
  manifests/canal.yaml
  manifests/crds.yaml
  manifests/flannel-migration/calico.yaml
  manifests/ocp/crd.projectcalico.org_felixconfigurations.yaml
  manifests/tigera-operator.yaml
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Update ipam backend to handle both v1 and v3 format.
  apiserver/pkg/storage/calico/ipamconfig_storage.go
  apiserver/test/integration/clientset_test.go
  libcalico-go/lib/apis/v3/ipam_config.go
  libcalico-go/lib/backend/k8s/resources/ipam_config.go
  libcalico-go/lib/ipam/ipam.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

address Sridhar comments
  felix/bpf/libbpf/libbpf.go
  felix/bpf/libbpf/libbpf_api.h
  felix/bpf/libbpf/libbpf_stub.go
  felix/bpf/ut/attach_test.go
  felix/bpf/xdp/attach.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

change AttachXDP signature
  felix/bpf/libbpf/libbpf.go
  felix/bpf/libbpf/libbpf_stub.go
  felix/bpf/xdp/attach.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

fix the panic of SetupRoutes in csi-plugin (#6414)
  cni-plugin/pkg/dataplane/linux/dataplane_linux.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Fix broken link (#6345)
  kube-controllers/README.md
Due: none

libcalico: prettify test outputs (#6019)
  libcalico-go/lib/backend/syncersv1/updateprocessors/configurationprocessor_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

fix calico_apiserver pod won't start Error: unknown shorthand flag: 'v' in -v=5 (#6354)
  apiserver/cmd/apiserver/apiserver.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Add IPv6 wireguard to docs
  calico/_includes/content/reqs-sys.md
  calico/about/about-ebpf.md
  calico/maintenance/troubleshoot/troubleshooting.md
  calico/networking/mtu.md
  calico/reference/felix/configuration.md
  calico/reference/resources/felixconfig.md
  calico/reference/resources/node.md
  calico/security/encrypt-cluster-pod-traffic.md
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Properly refcount routes, fix accidental withdrawal of routes
  confd/pkg/backends/calico/client.go
  confd/pkg/backends/calico/routes.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Update tests and bugfixes
  confd/pkg/backends/calico/routes.go
  confd/pkg/backends/calico/routes_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Attempt to repro test flake
  .semaphore/semaphore.yml.tpl
  cni-plugin/internal/pkg/testutils/utils.go
  cni-plugin/internal/pkg/testutils/utils_linux.go
  cni-plugin/tests/calico_cni_k8s_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

update sem yaml
  .semaphore/semaphore-scheduled-builds.yml
  .semaphore/semaphore.yml
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Fix missing imports
  cni-plugin/internal/pkg/testutils/utils.go
  cni-plugin/internal/pkg/testutils/utils_linux.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

bump github.com/BurntSushi/toml to v1.2.0
  go.mod
  go.sum
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

bump github.com/sirupsen/logrus v1.9.0
  go.mod
  go.sum
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

github.com/sirupsen/logrus v1.9.0
  go.mod
  go.sum
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Bumps modernc.org/memory from 1.0.5 to 1.1.1.
  go.mod
  go.sum
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Fix static checks
  confd/pkg/backends/calico/routes.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

add drop prog
  felix/bpf-gpl/xdp.c
  felix/bpf/state/map.go
  felix/bpf/ut/pol_prog_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

remove drop prog
  felix/bpf/polprog/pol_prog_builder.go
  felix/bpf/state/map.go
  felix/bpf/ut/bpf_prog_test.go
  felix/bpf/ut/pol_prog_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

remove drop prog
  felix/bpf-gpl/xdp.c
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

remove drop prog
  felix/bpf/ut/attach_test.go
  felix/bpf/xdp/attach.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

finalize xdp counters
  felix/bpf-gpl/xdp.c
  felix/bpf/libbpf/libbpf.go
  felix/bpf/libbpf/libbpf_api.h
  felix/bpf/libbpf/libbpf_stub.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Add block affinity API
  api/pkg/apis/projectcalico/v3/blockaffinity.go
  api/pkg/apis/projectcalico/v3/register.go
  api/pkg/apis/projectcalico/v3/zz_generated.deepcopy.go
  api/pkg/client/clientset_generated/clientset/typed/projectcalico/v3/fake/fake_projectcalico_client.go
  api/pkg/client/clientset_generated/clientset/typed/projectcalico/v3/generated_expansion.go
  api/pkg/client/clientset_generated/clientset/typed/projectcalico/v3/projectcalico_client.go
  api/pkg/client/informers_generated/externalversions/generic.go
  api/pkg/client/informers_generated/externalversions/projectcalico/v3/interface.go
  api/pkg/client/listers_generated/projectcalico/v3/expansion_generated.go
  api/pkg/openapi/openapi_generated.go
  apiserver/pkg/registry/projectcalico/blockaffinity/storage.go
  apiserver/pkg/registry/projectcalico/blockaffinity/strategy.go
  apiserver/pkg/registry/projectcalico/rest/storage_calico.go
  apiserver/pkg/storage/calico/blockAffinity_storage.go
  apiserver/pkg/storage/calico/converter.go
  apiserver/pkg/storage/calico/storage_interface.go
  apiserver/test/integration/clientset_test.go
  libcalico-go/lib/backend/k8s/k8s.go
  libcalico-go/lib/backend/k8s/resources/ipam_affinity.go
  libcalico-go/lib/clientv3/client.go
  libcalico-go/lib/clientv3/interface.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Hacky fix for client sending duplicate / wrong route updates
  confd/pkg/backends/calico/client.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

add drop program to xdp
  felix/bpf-gpl/xdp.c
  felix/bpf/polprog/pol_prog_builder.go
  felix/bpf/ut/bpf_prog_test.go
  felix/bpf/ut/pol_prog_test.go
  felix/bpf/xdp/attach.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Fix UT, compile
  confd/pkg/backends/calico/client.go
  confd/pkg/backends/calico/routes_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Update API name to IPAMConfiguration
  api/pkg/apis/projectcalico/v3/ipamconfig.go
  api/pkg/apis/projectcalico/v3/register.go
  api/pkg/apis/projectcalico/v3/zz_generated.deepcopy.go
  api/pkg/client/clientset_generated/clientset/typed/projectcalico/v3/fake/fake_ipamconfig.go
  api/pkg/client/clientset_generated/clientset/typed/projectcalico/v3/fake/fake_ipamconfiguration.go
  api/pkg/client/clientset_generated/clientset/typed/projectcalico/v3/fake/fake_projectcalico_client.go
  api/pkg/client/clientset_generated/clientset/typed/projectcalico/v3/generated_expansion.go
  api/pkg/client/clientset_generated/clientset/typed/projectcalico/v3/ipamconfig.go
  api/pkg/client/clientset_generated/clientset/typed/projectcalico/v3/ipamconfiguration.go
  api/pkg/client/clientset_generated/clientset/typed/projectcalico/v3/projectcalico_client.go
  api/pkg/client/informers_generated/externalversions/generic.go
  api/pkg/client/informers_generated/externalversions/projectcalico/v3/interface.go
  api/pkg/client/informers_generated/externalversions/projectcalico/v3/ipamconfig.go
  api/pkg/client/informers_generated/externalversions/projectcalico/v3/ipamconfiguration.go
  api/pkg/client/listers_generated/projectcalico/v3/expansion_generated.go
  api/pkg/client/listers_generated/projectcalico/v3/ipamconfig.go
  api/pkg/client/listers_generated/projectcalico/v3/ipamconfiguration.go
  api/pkg/openapi/openapi_generated.go
  apiserver/pkg/registry/projectcalico/ipamconfig/storage.go
  apiserver/pkg/registry/projectcalico/ipamconfig/strategy.go
  apiserver/pkg/registry/projectcalico/rest/storage_calico.go
  apiserver/pkg/storage/calico/converter.go
  apiserver/pkg/storage/calico/ipamconfig_storage.go
  apiserver/pkg/storage/calico/storage_interface.go
  apiserver/test/integration/clientset_test.go
  libcalico-go/lib/backend/k8s/k8s.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

format golang import packages
  apiserver/cmd/apiserver/apiserver.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Added ipamconfig to v1 model
  libcalico-go/lib/backend/model/resource.go
  libcalico-go/lib/clientv3/ipamconfig.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Added clientv3 ipam config
  libcalico-go/lib/clientv3/ipamconfig.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Path conditions:
  API: any of: *, api/, but not: **/.gitignore, **/README.md, **/LICENSE
  apiserver: any of: *, api/, apiserver/, but not: **/.gitignore, **/README.md, **/LICENSE
  libcalico-go: any of: *, api/, libcalico-go/, but not: **/.gitignore, **/README.md, **/LICENSE
  Typha: any of: *, api/, libcalico-go/, typha/, but not: **/.gitignore, **/README.md, **/LICENSE
  Felix: Build: any of: *, api/, libcalico-go/, typha/, felix/, but not: **/.gitignore, **/README.md, **/LICENSE
  Felix: Build Windows binaries: any of: *, api/, libcalico-go/, typha/, felix/, but not: **/.gitignore, **/README.md, **/LICENSE
  Felix: Windows FV: any of: *, api/, libcalico-go/, typha/, felix/, but not: **/.gitignore, **/README.md, **/LICENSE
  Felix: FV Tests: any of: *, api/, libcalico-go/, typha/, felix/, but not: **/.gitignore, **/README.md, **/LICENSE
  Felix: BPF UT/FV tests on new kernel: any of: *, api/, libcalico-go/, typha/, felix/, but not: **/.gitignore, **/README.md, **/LICENSE
  Felix: Static checks on e1-standard-8: any of: *, api/, libcalico-go/, typha/, felix/, but not: **/.gitignore, **/README.md, **/LICENSE
  confd: tests: any of: *, api/, libcalico-go/, confd/, but not: **/.gitignore, **/README.md, **/LICENSE
  Node: Tests: any of: *, api/, libcalico-go/, typha/, felix/, confd/, bird/, pod2daemon/, node/, but not: **/.gitignore, **/README.md, **/LICENSE
  Node: build all architectures: any of: felix/, confd/, node/
  e2e tests: any of: *, api/, libcalico-go/, typha/, felix/, confd/, bird/, pod2daemon/, node/, but not: **/.gitignore, **/README.md, **/LICENSE
  kube-controllers: Tests: any of: *, api/, libcalico-go/, kube-controllers/, but not: **/.gitignore, **/README.md, **/LICENSE
  pod2daemon: any of: *, pod2daemon/, but not: **/.gitignore, **/README.md, **/LICENSE
  app-policy: any of: *, app-policy/, felix/, but not: **/.gitignore, **/README.md, **/LICENSE
  calicoctl: any of: *, calicoctl/, libcalico-go/, api/, but not: **/.gitignore, **/README.md, **/LICENSE
  cni-plugin: any of: *, cni-plugin/, libcalico-go/, but not: **/.gitignore, **/README.md, **/LICENSE
  Documentation: any of: *, calico/, but not: **/.gitignore, **/README.md, **/LICENSE
