Repository projectcalico/calico: changes, and which Semaphore blocks are due for each by the changed paths.
All: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

API:
  prologue:
    commands:
    - cd api
  jobs:
  - name: make build
    commands:
    - make build
  - name: make ci
    commands:
    - make ci
  - name: make static-checks
    commands:
    - make static-checks

apiserver:
  prologue:
    commands:
    - cd apiserver
  jobs:
  - name: make ci
    commands:
    - make ci

libcalico-go:
  jobs:
  - name: 'libcalico-go: tests'
    commands:
    - cd libcalico-go
    - make ci

Typha:
  agent:
    machine:
      type: e1-standard-4
      os_image: ubuntu1804
  jobs:
  - name: 'Typha: UT and FV tests'
    commands:
    - cd typha
    - make ci EXCEPT=k8sfv-test
  - name: 'Typha: felix k8s-st tests'
    commands:
    - cd felix
    - JUST_A_MINUTE=true USE_TYPHA=true make k8sfv-test
  epilogue:
    always:
  ...

Felix: Build:
  agent:
    machine:
      type: e1-standard-4
      os_image: ubuntu1804
  jobs:
  - name: Build and run UT, k8sfv
    execution_time_limit:
      minutes: 60
    commands:
    - cd felix
    - cache restore go-pkg-cache
    - cache restore go-mod-cache
  ...

Felix: Build Windows binaries:
  jobs:
  - name: build Windows binaries
    commands:
    - cd felix
    - make bin/calico-felix.exe fv/win-fv.exe

Felix: Windows FV:
  secrets:
  - name: banzai-secrets
  - name: private-repo
  prologue:
    commands:
    - chmod 0600 ~/.keys/*
    - ssh-add ~/.keys/*
    - pip install --upgrade --user awscli
    - export REPORT_DIR=~/report
    - export LOGS_DIR=~/fv.log
  ...

Felix: FV Tests:
  prologue:
    commands:
    - cd felix
    - cache restore go-pkg-cache
    - cache restore go-mod-cache
    - cache restore bin-${SEMAPHORE_GIT_SHA}
    - cache restore felix-image-${SEMAPHORE_GIT_SHA}
    - docker load -i /tmp/calico-felix.tar
    - rm /tmp/calico-felix.tar
    - touch bin/*
    - sudo modprobe ipip
  ...

Felix: BPF UT/FV tests on new kernel:
  prologue:
    commands:
    - cd felix
    - export GOOGLE_APPLICATION_CREDENTIALS=$HOME/secrets/secret.google-service-account-key.json
    - export SHORT_WORKFLOW_ID=$(echo ${SEMAPHORE_WORKFLOW_ID} | sha256sum | cut -c -8)
    - export ZONE=europe-west3-c
  ...

Felix: Static checks on e1-standard-8:
  agent:
    machine:
      type: e1-standard-8
      os_image: ubuntu1804
  prologue:
    commands:
    - cd felix
    - cache restore go-pkg-cache
    - cache restore go-mod-cache
  jobs:
  - name: Static checks
    execution_time_limit:
      minutes: 15
    commands:
    - make static-checks

confd: tests:
  prologue:
    commands:
    - cd confd
  jobs:
  - name: 'confd: CI'
    execution_time_limit:
      minutes: 60
    commands:
    - make ci

Node: Tests:
  agent:
    machine:
      type: e1-standard-8
      os_image: ubuntu1804
  prologue:
    commands:
    - cd node
  jobs:
  - name: 'Node: CI'
    commands:
    - make ci
  - name: 'Node: k8s-test'
    commands:
    - make k8s-test
  epilogue:
    always:
      commands:
  ...

calicoctl:
  prologue:
    commands:
    - cd calicoctl
  jobs:
  - name: calicoctl tests
    commands:
    - make ci

Typos
  api/pkg/apis/projectcalico/v3/felixconfig.go
  api/pkg/openapi/openapi_generated.go
  libcalico-go/config/crd/crd.projectcalico.org_felixconfigurations.yaml
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Refactor vxlan_mrg.go
  felix/dataplane/linux/vxlan_mgr.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Move all logs to Debug when RouteSyncDisabled is in its default value
  felix/dataplane/linux/int_dataplane.go
  felix/dataplane/linux/vxlan_mgr.go
  felix/wireguard/wireguard.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Code review feedback
  calicoctl/calicoctl/commands/ipam/check.go
  calicoctl/calicoctl/commands/ipam/release.go
  libcalico-go/lib/apis/v3/ipam_block.go
  libcalico-go/lib/backend/model/block.go
  libcalico-go/lib/ipam/ipam.go
  libcalico-go/lib/ipam/ipam_block.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Add IPv6 bpf program skeleton
  felix/bpf-gpl/jump.h
  felix/bpf-gpl/parsing.h
  felix/bpf-gpl/policy_program.h
  felix/bpf-gpl/tc.c
  felix/bpf-gpl/tc.h
  felix/bpf/tc/attach.go
  felix/bpf/tc/compiler.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Add encapsulation_resolver_test.go
  felix/calc/encapsulation_resolver_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Remove oldfd, addressed few nits
  felix/bpf/maps.go
  felix/dataplane/linux/bpf_ep_mgr.go
  felix/dataplane/linux/bpf_ep_mgr_test.go
  felix/dataplane/linux/int_dataplane.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

use etcd 3.5.1
  cni-plugin/pkg/install/install.go
  go.mod
  kube-controllers/cmd/kube-controllers/main.go
  libcalico-go/lib/backend/etcd/etcd.go
  libcalico-go/lib/backend/etcd/syncer.go
  libcalico-go/lib/backend/etcdv3/conversion.go
  libcalico-go/lib/backend/etcdv3/etcdv3.go
  libcalico-go/lib/backend/etcdv3/watcher.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

all using v1 instead of v1beta1
  calico/maintenance/certificate-management.md
  felix/bpf/proxy/proxy.go
  felix/bpf/proxy/proxy_test.go
  felix/calc/resources_for_test.go
  felix/fv/service_policy_test.go
  felix/serviceindex/serviceindex.go
  felix/serviceindex/serviceindex_test.go
  libcalico-go/lib/backend/k8s/conversion/conversion.go
  libcalico-go/lib/backend/k8s/resources/kubeendpointslice.go
  libcalico-go/lib/backend/model/resource.go
  libcalico-go/lib/backend/syncersv1/felixsyncer/felixsyncer_e2e_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

replace prometheus with v0.26.0 to fix log problem
  go.mod
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

use grpc 1.4.0
  go.mod
  go.sum
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

fix apiserver unit-test
  apiserver/pkg/storage/calico/policy_storage_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

vendor
  go.mod
  go.sum
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

fix: using constant print error
  felix/bpf/proxy/health_check_nodeport_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

use alias clientv3
  kube-controllers/cmd/kube-controllers/main.go
  libcalico-go/lib/backend/etcdv3/conversion.go
  libcalico-go/lib/backend/etcdv3/etcdv3.go
  libcalico-go/lib/backend/etcdv3/watcher.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

fix: remove deprecated
  felix/bpf/proxy/syncer.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

try to manually use the new spec
  apiserver/cmd/apiserver/server/options.go
  libcalico-go/lib/apis/v1/openapi_generated.go
  libcalico-go/lib/apis/v3/openapi_generated.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

fix: ec2 clock
  felix/aws/ec2.go
  felix/aws/ec2_test.go
  felix/dataplane/driver.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

implement warningsOnCreate and WarningOnUpdate
  apiserver/pkg/registry/projectcalico/bgpconfiguration/strategy.go
  apiserver/pkg/registry/projectcalico/bgppeer/strategy.go
  apiserver/pkg/registry/projectcalico/caliconodestatus/strategy.go
  apiserver/pkg/registry/projectcalico/clusterinformation/strategy.go
  apiserver/pkg/registry/projectcalico/felixconfig/strategy.go
  apiserver/pkg/registry/projectcalico/globalnetworkset/strategy.go
  apiserver/pkg/registry/projectcalico/globalpolicy/strategy.go
  apiserver/pkg/registry/projectcalico/hostendpoint/strategy.go
  apiserver/pkg/registry/projectcalico/ippool/strategy.go
  apiserver/pkg/registry/projectcalico/ipreservation/strategy.go
  apiserver/pkg/registry/projectcalico/kubecontrollersconfig/strategy.go
  apiserver/pkg/registry/projectcalico/networkpolicy/strategy.go
  apiserver/pkg/registry/projectcalico/networkset/strategy.go
  apiserver/pkg/registry/projectcalico/profile/strategy.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

use k8s.io v0.23.1 use master latest kube-openapi
  go.mod
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

using eps
  felix/bpf/proxy/health_check_nodeport_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

only slice is valid https://github.com/kubernetes/kubernetes/pull/103451
  felix/bpf/proxy/proxy_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

api: vendor
  api/go.mod
  api/go.sum
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

node: PodSecurityPolicy only in policy/v1beta1
  node/tests/k8st/infra/apiserver.yaml
  node/tests/k8st/infra/metallb.yaml
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

apiserver: fix test flags
  apiserver/test/integration.sh
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

ignore vendor
  .gitignore
Due: none

k8s: update version to v1.23.2
  metadata.mk
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

go-build: use v0.66(newly build)
  metadata.mk
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

update etcd version
  apiserver/Makefile
  calico/_includes/charts/calico/templates/configure-canal.yaml
  networking-calico/networking_calico/tests/test_fv_etcdutils.py
  node/tests/k8st/infra/etcd.yaml
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

get endpoints try to print eps obj
  felix/bpf/proxy/health_check_nodeport_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

update klog to v2
  apiserver/cmd/apiserver/apiserver.go
  apiserver/cmd/apiserver/server/options.go
  apiserver/cmd/apiserver/server/run_server.go
  apiserver/cmd/apiserver/server/server.go
  apiserver/pkg/registry/projectcalico/server/options.go
  apiserver/pkg/storage/calico/converter.go
  apiserver/pkg/storage/calico/policy_storage_test.go
  apiserver/pkg/storage/calico/resource.go
  apiserver/pkg/storage/calico/storage_interface.go
  apiserver/test/integration/framework.go
  apiserver/test/util/util.go
  go.mod
  go.sum
  kube-controllers/cmd/kube-controllers/main.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

update k8s version in makefile
  confd/Makefile
  metadata.mk
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

cni-plugins: update github.com/containernetworking/plugins ref:https://github.com/containernetworking/cni/blob/v1.0.1/Documentation/spec-upgrades.md
  cni-plugin/internal/pkg/testutils/utils_linux.go
  cni-plugin/internal/pkg/testutils/utils_windows.go
  cni-plugin/internal/pkg/utils/network_linux.go
  cni-plugin/internal/pkg/utils/network_windows.go
  cni-plugin/internal/pkg/utils/utils.go
  cni-plugin/pkg/dataplane/dataplane.go
  cni-plugin/pkg/dataplane/grpc/grpc_dataplane.go
  cni-plugin/pkg/dataplane/linux/dataplane_linux.go
  cni-plugin/pkg/dataplane/windows/dataplane_windows.go
  cni-plugin/pkg/ipamplugin/ipam_plugin.go
  cni-plugin/pkg/k8s/k8s.go
  cni-plugin/pkg/plugin/plugin.go
  cni-plugin/tests/calico_cni_k8s_test.go
  cni-plugin/tests/calico_cni_test.go
  cni-plugin/win_tests/calico_cni_k8s_windows_test.go
  go.mod
  go.sum
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

using endpointsSlice
  felix/bpf/proxy/proxy_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

cni-plugin: use release from https://github.com/flannel-io/cni-plugin
  cni-plugin/Makefile
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

remove beta annotation
  libcalico-go/lib/backend/k8s/k8s_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

cni-plugins: fix
  cni-plugin/tests/calico_cni_ipam_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

api: update gen-files
  api/pkg/client/clientset_generated/clientset/clientset.go
  api/pkg/client/clientset_generated/clientset/fake/clientset_generated.go
  api/pkg/client/clientset_generated/clientset/typed/projectcalico/v3/fake/fake_bgpconfiguration.go
  api/pkg/client/clientset_generated/clientset/typed/projectcalico/v3/fake/fake_bgppeer.go
  api/pkg/client/clientset_generated/clientset/typed/projectcalico/v3/fake/fake_caliconodestatus.go
  api/pkg/client/clientset_generated/clientset/typed/projectcalico/v3/fake/fake_clusterinformation.go
  api/pkg/client/clientset_generated/clientset/typed/projectcalico/v3/fake/fake_felixconfiguration.go
  api/pkg/client/clientset_generated/clientset/typed/projectcalico/v3/fake/fake_globalnetworkpolicy.go
  api/pkg/client/clientset_generated/clientset/typed/projectcalico/v3/fake/fake_globalnetworkset.go
  api/pkg/client/clientset_generated/clientset/typed/projectcalico/v3/fake/fake_hostendpoint.go
  api/pkg/client/clientset_generated/clientset/typed/projectcalico/v3/fake/fake_ippool.go
  api/pkg/client/clientset_generated/clientset/typed/projectcalico/v3/fake/fake_ipreservation.go
  api/pkg/client/clientset_generated/clientset/typed/projectcalico/v3/fake/fake_kubecontrollersconfiguration.go
  api/pkg/client/clientset_generated/clientset/typed/projectcalico/v3/fake/fake_networkpolicy.go
  api/pkg/client/clientset_generated/clientset/typed/projectcalico/v3/fake/fake_networkset.go
  api/pkg/client/clientset_generated/clientset/typed/projectcalico/v3/fake/fake_profile.go
  api/pkg/client/clientset_generated/clientset/typed/projectcalico/v3/projectcalico_client.go
  api/pkg/openapi/openapi_generated.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

fix: to slice add eps nodeName field
  felix/bpf/proxy/health_check_nodeport_test.go
  felix/bpf/proxy/proxy.go
  felix/bpf/proxy/proxy_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Path conditions:
  API: any of: *, api/, but not: **/.gitignore, **/README.md, **/LICENSE
  apiserver: any of: *, api/, apiserver/, but not: **/.gitignore, **/README.md, **/LICENSE
  libcalico-go: any of: *, api/, libcalico-go/, but not: **/.gitignore, **/README.md, **/LICENSE
  Typha: any of: *, api/, libcalico-go/, typha/, but not: **/.gitignore, **/README.md, **/LICENSE
  Felix: Build: any of: *, api/, libcalico-go/, typha/, felix/, but not: **/.gitignore, **/README.md, **/LICENSE
  Felix: Build Windows binaries: any of: *, api/, libcalico-go/, typha/, felix/, but not: **/.gitignore, **/README.md, **/LICENSE
  Felix: Windows FV: any of: *, api/, libcalico-go/, typha/, felix/, but not: **/.gitignore, **/README.md, **/LICENSE
  Felix: FV Tests: any of: *, api/, libcalico-go/, typha/, felix/, but not: **/.gitignore, **/README.md, **/LICENSE
  Felix: BPF UT/FV tests on new kernel: any of: *, api/, libcalico-go/, typha/, felix/, but not: **/.gitignore, **/README.md, **/LICENSE
  Felix: Static checks on e1-standard-8: any of: *, api/, libcalico-go/, typha/, felix/, but not: **/.gitignore, **/README.md, **/LICENSE
  confd: tests: any of: *, api/, libcalico-go/, confd/, but not: **/.gitignore, **/README.md, **/LICENSE
  Node: Tests: any of: *, api/, libcalico-go/, typha/, felix/, confd/, bird/, pod2daemon/, node/, but not: **/.gitignore, **/README.md, **/LICENSE
  Node: build all architectures: any of: felix/, confd/, node/
  e2e tests: any of: *, api/, libcalico-go/, typha/, felix/, confd/, bird/, pod2daemon/, node/, but not: **/.gitignore, **/README.md, **/LICENSE
  kube-controllers: Tests: any of: *, api/, libcalico-go/, kube-controllers/, but not: **/.gitignore, **/README.md, **/LICENSE
  pod2daemon: any of: *, pod2daemon/, but not: **/.gitignore, **/README.md, **/LICENSE
  app-policy: any of: *, app-policy/, felix/, but not: **/.gitignore, **/README.md, **/LICENSE
  calicoctl: any of: *, calicoctl/, libcalico-go/, api/, but not: **/.gitignore, **/README.md, **/LICENSE
  cni-plugin: any of: *, cni-plugin/, libcalico-go/, but not: **/.gitignore, **/README.md, **/LICENSE
  Documentation: any of: *, calico/, but not: **/.gitignore, **/README.md, **/LICENSE
