Repository projectcalico/calico: changes, and which Semaphore blocks are due for each by the changed paths.
All: API, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: BPF UTs/BPF FVs/Non-BPF FVs (on remote VMs), Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, kube-controllers: Tests, Documentation

API:
  prologue:
    commands:
    - checkout
    - cd api
  jobs:
  - name: make build
    commands:
    - make build
  - name: make ci
    commands:
    - make ci
  - name: make static-checks
    commands:
    - make static-checks

libcalico-go:
  jobs:
  - name: 'libcalico-go: tests'
    commands:
    - checkout
    - cd libcalico-go
    - make ci

Typha:
  agent:
    machine:
      type: e1-standard-8
      os_image: ubuntu1804
  jobs:
  - name: 'Typha: UT and FV tests'
    commands:
    - checkout
    - cd typha
    - make ci EXCEPT=k8sfv-test
  - name: 'Typha: felix k8s-st tests with updated typha image'
    commands:
    - checkout
    - cd typha
    - make calico/typha
  ...

Felix: Build:
  agent:
    machine:
      type: e1-standard-4
      os_image: ubuntu1804
  jobs:
  - name: Build and run UT, k8sfv
    execution_time_limit:
      minutes: 60
    commands:
    - checkout
    - cd felix
    - cache restore go-pkg-cache
    - cache restore go-mod-cache
  ...

Felix: Build Windows binaries:
  jobs:
  - name: build Windows binaries
    commands:
    - checkout
    - cd felix
    - make bin/calico-felix.exe fv/win-fv.exe

Felix: Windows FV:
  secrets:
  - name: banzai-secrets
  - name: private-repo
  prologue:
    commands:
    - chmod 0600 ~/.keys/*
    - ssh-add ~/.keys/*
    - pip install --upgrade --user awscli
    - export REPORT_DIR=~/report
    - export LOGS_DIR=~/fv.log
  ...

Felix: BPF UTs/BPF FVs/Non-BPF FVs (on remote VMs):
  prologue:
    commands:
    - checkout
    - cd felix
    - export GOOGLE_APPLICATION_CREDENTIALS=$HOME/secrets/secret.google-service-account-key.json
    - export SHORT_WORKFLOW_ID=$(echo ${SEMAPHORE_WORKFLOW_ID} | sha256sum | cut -c -8)
    - export ZONE=europe-west3-c
  ...

Felix: Static checks on e1-standard-8:
  agent:
    machine:
      type: e1-standard-8
      os_image: ubuntu1804
  prologue:
    commands:
    - checkout
    - cd felix
    - cache restore go-pkg-cache
    - cache restore go-mod-cache
  jobs:
  - name: Static checks
    execution_time_limit:
      minutes: 15
    commands:
    - make static-checks

confd: tests:
  prologue:
    commands:
    - checkout
    - cd confd
  jobs:
  - name: 'confd: CI'
    execution_time_limit:
      minutes: 60
    commands:
    - make ci

Node: Tests:
  agent:
    machine:
      type: e1-standard-8
      os_image: ubuntu1804
  prologue:
    commands:
    - checkout
    - git fetch --unshallow
    - cd node
  jobs:
  - name: 'Node: CI'
    commands:
    - make ci
  - name: 'Node: k8s-test'
    commands:
    - make k8s-test

kube-controllers: Tests:
  prologue:
    commands:
    - checkout
    - git fetch --unshallow
    - cd kube-controllers
  jobs:
  - name: 'kube-controllers: tests'
    commands:
    - make ci

Documentation:
  prologue:
    commands:
    - checkout
    - cd calico
  jobs:
  - name: htmlproofer, kubeval, and helm tests
    commands:
    - make htmlproofer
    - make kubeval
    - make helm-tests

Added Calico printer for CalicoNodeStatus to apiserver (#5282)
  apiserver/pkg/printers/projectcalico/caliconodestatus_printer.go
  apiserver/pkg/printers/projectcalico/utils.go
  apiserver/pkg/registry/projectcalico/caliconodestatus/storage.go
Due: none

fix link
  calico/calico-enterprise/index.md
Due: Documentation

Ignore .idea directory.
  .gitignore
Due: none

Ignore log files.
  .gitignore
Due: none

Kick off builds with semaphore root changes
  .semaphore/semaphore.yml
Due: none

Kick off builds with semaphore root changes
  .idea/workspace.xml
  .semaphore/semaphore.yml
Due: none

Kick off builds with semaphore root changes
  .gitignore
  .idea/workspace.xml
  .semaphore/semaphore.yml
Due: none

Kick off builds with semaphore root changes
  .gitignore
  .semaphore/semaphore.yml
Due: none

Fix API replace statement
  go.mod
  go.sum
Due: none

tests1
  api/README.md
  calico/LICENSE
  kube-controllers/LICENSE
Due: API, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: BPF UTs/BPF FVs/Non-BPF FVs (on remote VMs), Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, kube-controllers: Tests, Documentation

Give more resources to calicoctl and node image builds
  .semaphore/push-images/calicoctl.yml
  .semaphore/push-images/node.yml
Due: none

Give more resources to calicoctl and node image builds (#5296)
  .semaphore/push-images/calicoctl.yml
  .semaphore/push-images/node.yml
Due: none

Add test reporting to node, felix, typha
  .semaphore/semaphore.yml
Due: none

fix link (#5294)
  calico/calico-enterprise/index.md
Due: Documentation

tweaks
  calicoctl/calicoctl/calicoctl.go
Due: none

tweaks
  confd/confd.go
Due: confd: tests, Node: Tests

Run tests for calicoctl, pod2daemon, and app-policy
  .semaphore/semaphore.yml
Due: none

Run tests for calicoctl, cni-plugin, pod2daemon, and app-policy
  .semaphore/semaphore.yml
Due: none

For node CD, only build amd64 for now to speed things up
  .semaphore/push-images/node.yml
Due: none

For node CD, only build amd64 for now to speed things up (#5301)
  .semaphore/push-images/node.yml
Due: none

fv/connectivity: allow options, add callback just before retry
  felix/fv/connectivity/conncheck.go
Due: Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: BPF UTs/BPF FVs/Non-BPF FVs (on remote VMs), Felix: Static checks on e1-standard-8, Node: Tests

fv: workaround for conntrac issue in BPF in named ports tests
  felix/fv/named_ports_test.go
Due: Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: BPF UTs/BPF FVs/Non-BPF FVs (on remote VMs), Felix: Static checks on e1-standard-8, Node: Tests

Fix CNI plugin tests
  .semaphore/semaphore.yml
  cni-plugin/Makefile
  cni-plugin/pkg/dataplane/grpc/proto/cnibackend.pb.go
Due: none

Fix calicoctl tests
  calicoctl/Makefile
  calicoctl/tests/fv/multi_context_test.go
  calicoctl/tests/fv/utils/calicoctl.go
Due: none

For node CD, only build amd64 for now to speed things up (#5305)
  .semaphore/push-images/node.yml
Due: none

fix link (#5294) (#5304)
  calico/calico-enterprise/index.md
Due: Documentation

Run build command in the correct directory
  .semaphore/push-images/node.yml
Due: none

Run build command in the correct directory (#5306)
  .semaphore/push-images/node.yml
Due: none

Path conditions:
  API: any of: api/
  libcalico-go: (any of: api/) or (any of: libcalico-go/)
  Typha: ((any of: api/) or (any of: libcalico-go/)) or (any of: typha/)
  Felix: Build: (((any of: felix/) or (any of: typha/)) or (any of: api/)) or (any of: libcalico-go/)
  Felix: Build Windows binaries: (((any of: felix/) or (any of: typha/)) or (any of: api/)) or (any of: libcalico-go/)
  Felix: Windows FV: (((any of: felix/) or (any of: typha/)) or (any of: api/)) or (any of: libcalico-go/)
  Felix: BPF UTs/BPF FVs/Non-BPF FVs (on remote VMs): (((any of: felix/) or (any of: typha/)) or (any of: api/)) or (any of: libcalico-go/)
  Felix: Static checks on e1-standard-8: (((any of: felix/) or (any of: typha/)) or (any of: api/)) or (any of: libcalico-go/)
  confd: tests: ((any of: confd/) or (any of: libcalico-go/)) or (any of: api/)
  Node: Tests: ((((((any of: node/) or (any of: felix/)) or (any of: api/)) or (any of: libcalico-go/)) or (any of: confd/)) or (any of: bird/)) or (any of: pod2daemon/)
  kube-controllers: Tests: ((any of: kube-controllers/) or (any of: api/)) or (any of: libcalico-go/)
  Documentation: any of: calico/
