Repository projectcalico/calico: changes, and which Semaphore blocks are due for each by the changed paths.
All: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Path conditions:
  API: any of: *, api/, but not: **/.gitignore, **/README.md, **/LICENSE
  apiserver: any of: *, api/, apiserver/, but not: **/.gitignore, **/README.md, **/LICENSE
  libcalico-go: any of: *, api/, libcalico-go/, but not: **/.gitignore, **/README.md, **/LICENSE
  Typha: any of: *, api/, libcalico-go/, typha/, but not: **/.gitignore, **/README.md, **/LICENSE
  Felix: Build: any of: *, api/, libcalico-go/, typha/, felix/, but not: **/.gitignore, **/README.md, **/LICENSE
  Felix: Build Windows binaries: any of: *, api/, libcalico-go/, typha/, felix/, but not: **/.gitignore, **/README.md, **/LICENSE
  Felix: Windows FV: any of: *, api/, libcalico-go/, typha/, felix/, but not: **/.gitignore, **/README.md, **/LICENSE
  Felix: FV Tests: any of: *, api/, libcalico-go/, typha/, felix/, but not: **/.gitignore, **/README.md, **/LICENSE
  Felix: BPF UT/FV tests on new kernel: any of: *, api/, libcalico-go/, typha/, felix/, but not: **/.gitignore, **/README.md, **/LICENSE
  Felix: Static checks on e1-standard-8: any of: *, api/, libcalico-go/, typha/, felix/, but not: **/.gitignore, **/README.md, **/LICENSE
  confd: tests: any of: *, api/, libcalico-go/, confd/, but not: **/.gitignore, **/README.md, **/LICENSE
  Node: Tests: any of: *, api/, libcalico-go/, typha/, felix/, confd/, bird/, pod2daemon/, node/, but not: **/.gitignore, **/README.md, **/LICENSE
  Node: build all architectures: any of: felix/, confd/, node/
  e2e tests: any of: *, api/, libcalico-go/, typha/, felix/, confd/, bird/, pod2daemon/, node/, but not: **/.gitignore, **/README.md, **/LICENSE
  kube-controllers: Tests: any of: *, api/, libcalico-go/, kube-controllers/, but not: **/.gitignore, **/README.md, **/LICENSE
  pod2daemon: any of: *, pod2daemon/, but not: **/.gitignore, **/README.md, **/LICENSE
  app-policy: any of: *, app-policy/, felix/, but not: **/.gitignore, **/README.md, **/LICENSE
  calicoctl: any of: *, calicoctl/, libcalico-go/, api/, but not: **/.gitignore, **/README.md, **/LICENSE
  cni-plugin: any of: *, cni-plugin/, libcalico-go/, but not: **/.gitignore, **/README.md, **/LICENSE
  Documentation: any of: *, calico/, but not: **/.gitignore, **/README.md, **/LICENSE

Minor makefile fixes.
  calicoctl/Makefile
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Add handle cleanup to calicoctl ipam check/release.
  calicoctl/calicoctl/commands/ipam/check.go
  calicoctl/calicoctl/commands/ipam/release.go
  calicoctl/tests/fv/ipam_test.go
  libcalico-go/lib/ipam/ipam.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Clean up code in release.go. Indroduce functions for releasing IPs and handles.
  calicoctl/calicoctl/commands/ipam/release.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Modify conversion function to convert both key and value from n-1 to n
  felix/bpf/conntrack/map.go
  felix/bpf/conntrack/upgrade.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Move upgrade function
  felix/bpf/conntrack/map.go
  felix/bpf/conntrack/upgrade.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Remove debug prints
  felix/bpf/ut/bpf_prog_test.go
  felix/bpf/ut/maps_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Fix FV failures
  felix/bpf/bpfmap/bpf_maps.go
  felix/bpf/conntrack/map.go
  felix/bpf/maps.go
  felix/fv/bpf_map_resize_test.go
  felix/fv/bpf_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Uprev influxdb and gobgp to remove CVE-2018-17572 and PRISMA-2021-0108
  go.mod
  go.sum
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Use the node IP for the wireguard device IP when host encryption is enabled and no pool configured
  felix/wireguard/wireguard.go
  node/pkg/allocateip/allocateip.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Use the node IP for the wireguard device IP when host encryption is enabled and no pool configured
  felix/wireguard/wireguard.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Use the node IP for the wireguard device IP when host encryption is enabled and no pool configured
  felix/wireguard/wireguard.go
  felix/wireguard/wireguard_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Allow calico-node to access root namespace in cgroup v2 to attach ctlb programs properly (#6078)
  felix/bpf/bpf.go
  manifests/calico-bpf.yaml
  manifests/calico-etcd.yaml
  manifests/calico-policy-only.yaml
  manifests/calico-typha.yaml
  manifests/calico-vxlan.yaml
  manifests/calico.yaml
  manifests/canal-etcd.yaml
  manifests/canal.yaml
  manifests/flannel-migration/calico.yaml
  node/Dockerfile.amd64
  node/Dockerfile.arm64
  node/Dockerfile.armv7
  node/Dockerfile.ppc64le
  node/Dockerfile.s390x
  node/Makefile
  node/clean-up-filesystem.sh
  node/cmd/calico-node/main.go
  node/cmd/mountns/main.go
  node/cmd/mountns/main_unsupported.go
  node/pkg/nodeinit/calico-init_linux.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Update image path in app-policy README to use relative path
  app-policy/README.md
Due: none

Updating tests to reflect updated gobgp
  cni-plugin/tests/calico_cni_ipam_test.go
  kube-controllers/tests/fv/fv_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

More test fixes
  cni-plugin/tests/calico_cni_ipam_test.go
  kube-controllers/tests/fv/fv_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Cherry-pick: Update dependencies (#6164)
  felix/fv/pktgen/pktgen.go
  felix/ipsets/ipset_defs.go
  felix/k8sfv/pod.go
  go.mod
  go.sum
  libcalico-go/lib/testutils/createRule.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Add counters package to read bpf counter map, and use it by calico-bpf tool
  felix/bpf/counters/counters.go
  felix/bpf/counters/map.go
  felix/cmd/calico-bpf/commands/counters.go
  felix/cmd/calico-bpf/commands/nat.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Infra for upgrading map from one version to the other. UTs using mock map.
  felix/bpf/maps.go
  felix/bpf/mock/upgrade.go
  felix/bpf/mock/v2/map.go
  felix/bpf/mock/v3/map.go
  felix/bpf/mock/v4/map.go
  felix/bpf/mock/v5/map.go
  felix/bpf/ut/map_upgrade_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Move tests to mock/multimap and fix CI
  felix/bpf/mock/multiversion/upgrade.go
  felix/bpf/mock/multiversion/v2/map.go
  felix/bpf/mock/multiversion/v3/map.go
  felix/bpf/mock/multiversion/v4/map.go
  felix/bpf/mock/multiversion/v5/map.go
  felix/bpf/ut/map_upgrade_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

add iface argument to calico-bpf counters subcommands
  felix/bpf/counters/counters.go
  felix/cmd/calico-bpf/commands/counters.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

use calico-node image instead of cni image for mount-bpffs init container
  calico/_includes/charts/calico/templates/calico-node.yaml
  manifests/calico-bpf.yaml
  manifests/calico-etcd.yaml
  manifests/calico-policy-only.yaml
  manifests/calico-typha.yaml
  manifests/calico-vxlan.yaml
  manifests/calico.yaml
  manifests/canal-etcd.yaml
  manifests/canal.yaml
  manifests/flannel-migration/calico.yaml
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

felix/bpf: relax strict RPF to loose for egress GW
  felix/bpf-gpl/conntrack.h
  felix/bpf-gpl/rpf.h
  felix/bpf-gpl/tc.c
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

felix/bpf: API to relax strict RPF to loose
  felix/bpf-gpl/conntrack.h
  felix/bpf-gpl/rpf.h
  felix/bpf-gpl/tc.c
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Return error when failing to set allocated IP
  node/pkg/allocateip/allocateip.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Use the node IP for the wireguard device IP when host encryption is enabled and no pool configured
  felix/dataplane/linux/wireguard_mgr.go
  felix/netlinkshim/mocknetlink/netlink.go
  felix/routetable/route_table_test.go
  felix/wireguard/wireguard.go
  felix/wireguard/wireguard_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

update counters package
  felix/bpf/bpf.go
  felix/bpf/counters/counters.go
  felix/bpf/counters/map.go
  felix/bpf/libbpf/libbpf.go
  felix/bpf/libbpf/libbpf_stub.go
  felix/bpf/tc/attach.go
  felix/bpf/tc/compiler.go
  felix/cmd/calico-bpf/commands/counters.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Call context cancel() func on error
  apiserver/pkg/storage/calico/watcher.go
  libcalico-go/lib/clientv3/resources.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Add upgrade callbacks to pinnedmap and handle map upgrade in a generic way
  felix/bpf/bpfmap/upgrade.go
  felix/bpf/maps.go
  felix/bpf/mock/multiversion/upgrade.go
  felix/bpf/mock/multiversion/v2/map.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Reorganize mock map package
  felix/.gitignore
  felix/bpf/mock/map.go
  felix/bpf/mock/multiversion/upgrade.go
  felix/bpf/mock/v2/map.go
  felix/bpf/mock/v3/map.go
  felix/bpf/mock/v4/map.go
  felix/bpf/mock/v5/map.go
  felix/bpf/ut/map_upgrade_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Fix CI and UTs
  felix/bpf/maps.go
  felix/bpf/mock/map.go
  felix/bpf/mock/multiversion/map.go
  felix/bpf/mock/multiversion/v2/map.go
  felix/bpf/mock/multiversion/v3/map.go
  felix/bpf/mock/multiversion/v4/map.go
  felix/bpf/mock/multiversion/v5/map.go
  felix/bpf/ut/map_upgrade_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Add kustomization to CRD directory
  libcalico-go/config/crd/kustomization.yaml
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Update copyright
  felix/bpf/bpfmap/upgrade.go
  felix/bpf/maps.go
  felix/bpf/ut/map_upgrade_test.go
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, Node: build all architectures, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Update release notes to include CVE link
  calico/_includes/release-notes/v3.22.2-release-notes.md
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Update release notes to include CVE link
  calico/_includes/release-notes/v3.21.5-release-notes.md
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Update release notes to include CVE link
  _includes/release-notes/v3.20.5-release-notes.md
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation

Remove remaining / unused non-helm-manifests (istio stuff)
  calico/_includes/non-helm-manifests/calico-system-namespace.yaml
  calico/_includes/non-helm-manifests/csi-driver.yaml
  calico/_includes/non-helm-manifests/csi-node-driver.yaml
  calico/_includes/non-helm-manifests/dikastes-container
  calico/_includes/non-helm-manifests/dikastes-container-indented
  calico/_includes/non-helm-manifests/istio-app-layer-policy-envoy-v3.yaml
  calico/_includes/non-helm-manifests/istio-app-layer-policy-v1.6.12.yaml
  calico/_includes/non-helm-manifests/istio-app-layer-policy-v1.6.13.yaml
  calico/_includes/non-helm-manifests/istio-app-layer-policy-v1.7.3.yaml
  calico/_includes/non-helm-manifests/istio-app-layer-policy-v1.7.4.yaml
  calico/_includes/non-helm-manifests/istio-app-layer-policy.yaml
  calico/_includes/non-helm-manifests/istio-proxy-volume-mounts
  calico/_includes/non-helm-manifests/istio-proxy-volume-mounts-indented
  calico/_includes/non-helm-manifests/istio-volumes
  calico/_includes/non-helm-manifests/istio-volumes-indented
  calico/getting-started/kubernetes/installation/config-options.md
Due: API, apiserver, libcalico-go, Typha, Felix: Build, Felix: Build Windows binaries, Felix: Windows FV, Felix: FV Tests, Felix: BPF UT/FV tests on new kernel, Felix: Static checks on e1-standard-8, confd: tests, Node: Tests, e2e tests, kube-controllers: Tests, pod2daemon, app-policy, calicoctl, cni-plugin, Documentation
